body {
    font-family: "Nanum Gothic", sans-serif;
    background-color: #f8f9fa;
  }
  
  .card {
    cursor: pointer;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
  }

  .card-img-top {
    border-bottom: 1px solid #eee;
  }

  .card-body {
    font-family: 'Noto Sans KR', sans-serif;
  }

  .modal-content img {
    width: 100%;
  }

  .navbar {
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: transparent;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  }
  
  .navbar button {
    background-color: white;
    border: 1px black;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar button:hover {
    background-color: #ff9900;
    color: white;
    border-color: black;
  }

  .menu-title {
    font-family: "Arial Black", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin: 30px 0 15px;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .btn-outline-primary:hover {
    background-color: #e63811 !important; 
    border-color: #e63811 !important; 
    color: white !important; 
  }

  .btn-outline-secondary:hover {
    background-color: #0A3875 !important; 
    border-color: #0A3875 !important; 
    color: white !important; 
  }

  .back-icon {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  

  /* 반응형 카드 정렬 */
  @media (max-width: 768px) {
    .card-title {
      font-size: 0.9rem;
    }

    .card-text {
      font-size: 0.75rem;
    }

    .menu-title {
      font-size: 1rem;
    }
  }


